.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto 5px;
}
.checkbox-content {
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
}
.checkbox-content input {
  margin-right: 5px;
}
.checkbox-content:hover {
  background: #f5f5f5;
}
.checkbox-delete {
  background: #c8c8c8;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.checkbox-delete:hover {
  background: #acacac;
}
.checkbox-checked {
  text-decoration: line-through;
}
